/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.column {width:750px}
.row.hr1 {
    position: relative;
}
.menu {
	display: none;
}
.mobile_menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 12px;
}
.inde{
	background: white;
}
.card.inde {
    height: auto;
}
.contacts {
   
    background-size: cover;
  
}
.quo{
	background: white;
}

.menu ul li a {
	padding: 7px;
}

.menubar i {
	padding: 6px;
}

.row.hr2 {
	padding: 40px 0 160px 0;
}

.hr2 h2 {
	font-size: 27px;
	text-align: center;
}



.right {
    text-align: center;
    margin-top: 11px;
}
.row.hr2 h4 {
    font-size: 12px;
    padding: 13px 12px;
    margin: 0 auto;
}

.row.hr2 ul {
	padding: 0;
}


.row.hr2 ul li a {
	padding: 9px 25px;
	margin-top: 18px;
	font-size: 10px;
}

.find h5 {
	font-size: 15px;
}

.find h3 {
	font-size: 20px;
}


.form-control {
	margin-top: 12px;
}


.bttn {
	padding-top: 18px;
}
.find p {
	font-size: 15px;
}




.card-body p {
	font-size: 9px;
	margin-bottom: 2px;
}


.card-text {
	font-weight: bold;
}



.row.hor1 img {
	height: 75px;
}



.footer p {
	font-size: 12px;
}


.footer input {
	width: 150px;
}


.find input {
	margin: 0 auto;
	text-align: center;
}



















}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.column {width:300px}

.row.hr1 {
    position: relative;
}

.menubar {
	padding: 15px 0;
}
.contacts {
   
    background-size: cover;
  
}
.menubar img {
	height: 44px;
}

.mobile_menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 12px;
}

.slicknav_menu {
    display: block;
}

.slicknav_menu {
	float: right;
	background: transparent;
	margin-top: 13px;
	margin-right: 14px;
}

.slicknav_menu ul li {
	background: #38424e;
	text-align: center;
}


.slicknav_nav a {
	margin: 1px;
}

.menu {
display: none;
}

.menu ul li a {
	padding: 1px;
	color: white;
	font-size: 13px;
}


.menubar i {
	padding: 9px;
	margin-top: 8px;
}

.row.hr2 {
	padding: 7px 0 85px 0;
}


.hr2 h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.right {
    text-align: center;
    margin-top: 11px;
}

.row.hr2 h4 {
    font-size: 12px;
    padding: 13px 12px;
    margin: 0 auto;
}

.row.hr2 ul {
	padding: 0;
}

.row.hr2 ul li a {
	padding: 4px 6px;
	border: 2px solid white;
	margin-top: 0px;
	font-size: 11px;
}

.find h5 {
	font-size: 8px;
	padding-top: 4px;
}

.find h3 {
	font-size: 10px;
}

.find p {
	font-size: 9px;
	padding-top: 14px;
}
.find input {
	padding-top: 7px;
	height: 26px;
	font-size: 9px;
	width: 95px;
	margin: 0 auto;
	text-align: center;
}


.form-control {
	margin-top: 8px;
}



.bttn {
	padding-top: 8px;
}


.find a {
	padding: 8px 12px;
	font-size: 8px;
}


section.offer p {
    padding-bottom: 0;
}




.card-text {
	font-weight: bold;
	margin-bottom: 5px;
}

.card-body p {
	font-size: 12px;
}



.row.hor1 img {
	height: 52px;
}



h6 {
	font-size: 11px;
	padding-top: 6px;
}



.card-body p {
	margin-bottom: 7px;
}


.blockquote-footer {
	font-size: 8px;
}



.footer h3 {
	padding-bottom: 21px;
	font-size: 19px;
}


.footer p {
	font-size: 7px;
}

.cr1 .card {
	height: 150px;
}


.formset input {
	height: 27px;
	width: 64px;
	font-size: 11px;
}


.nwz p {
	padding: 0;
}



.formset a {
	color: white;
    background: #007bff;
	padding: 7px 8px;
	font-weight: 600;
	margin-left: 3px;
	font-size: 10px;
}



.footer {
	text-align: center;
}

.footer img {
	float: none;
	padding-right: 0px;
}


.hr3 {
	text-align: center;
}
.inde{
	background: white;
}
.card.inde {
    height: auto;
}
.quo{
	background: white;
}
.nwz {
	padding-top: 18px;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.column {width:450px}

.mobile_menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 12px;
}

.quo{
	background: white;
}
.card.inde {
    height: auto;
}
.row.hr1 {
    position: relative;
}

.inde{
	background: white;
}

.contacts {
   
    background-size: cover;
  
}
.menubar {
	padding: 15px 0;
}

.menubar img {
	height: 44px;
}
.slicknav_menu {
	float: right;
	background: transparent;
	margin-top: 13px;
	margin-right: 14px;
}

.slicknav_menu ul li {
	background: #38424e;
	text-align: center;
}


.slicknav_nav a {
	margin: 1px;
}

.menu {
display: none;
}

.menu ul li a {
	padding: 1px;
	color: white;
	font-size: 13px;
}


.menubar i {
	padding: 9px;
	margin-top: 8px;
}

.row.hr2 {
	padding: 7px 0 85px 0;
}


.hr2 h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.right {
    text-align: center;
    margin-top: 11px;
}

.row.hr2 h4 {
    font-size: 12px;
    padding: 13px 12px;
    margin: 0 auto;
}

.row.hr2 ul {
	padding: 0;
}

.row.hr2 ul li a {
	padding: 4px 6px;
	border: 2px solid white;
	margin-top: 0px;
	font-size: 11px;
}

.find h5 {
	font-size: 11px;
	padding-top: 4px;
}

.find h3 {
	font-size: 14px;
}

.find p {
	font-size: 11px;
	padding-top: 14px;
}

.find input {
	padding-top: 7px;
	height: 29px;
	font-size: 11px;
}


.form-control {
	margin-top: 8px;
}



.bttn {
	padding-top: 8px;
}


.find a {
	padding: 9px 17px;
	font-size: 11px;
}


section.offer p {
    padding-bottom: 0;
}


.card-body p {
	font-size: 12px;
}



.cr1 .card {
	height: 150px;
}

.row.hor1 img {
	height: 52px;
}



h6 {
	font-size: 11px;
	padding-top: 6px;
}

.hr3 {
	text-align: center;
}

.card-body p {
	margin-bottom: 7px;
}


.blockquote-footer {
	font-size: 8px;
}


.footer img {
	float: none;
	padding-right: 0px;
}
.nwz {
	padding-top: 18px;
}
.footer {
	text-align: center;
}

.footer h3 {
	padding-bottom: 21px;
	font-size: 19px;
}


.footer p {
	font-size: 8px;
}



.formset input {
	height: 27px;
	width: 95px;
	font-size: 11px;
}


.nwz p {
	padding: 0;
}



}


